* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #000;
  height: 100vh
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

 /* Estilização Header  */

 header {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; 
  
  
  padding: 0.2rem 1rem;
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 139, 164, 0.2); 

  img {
    width: 80px;
    height: 80px;
  }
 }

 .menu-header {
  a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;

    /* border-bottom: 1px solid rgba(0, 139, 164, 0.5); */
    /* border-radius: 50px;  */
  }

  a:hover {
    border-bottom: 1px solid rgba(0, 139, 164, 0.5);
  }
 }



.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

/* Sobre mim  */

section.about {
  color: white;

  .about-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: 10rem 3rem;
  }

  img {
    width: 270px;
  }

  .text-about {
    line-height: 40px;
    h2 {
      margin-bottom: 3rem;
      font-size: 6rem;
    
      strong {
        line-height: 6rem;
        font-size: 6rem;
        background: linear-gradient(to right, white, #008BA4);
        background-clip: text;
        color: transparent;
      }
    }
  }

  span {
    font-size: 1.1rem;
    strong {
      padding: 0.1rem 0.8rem;
      background-color: rgba(0, 139, 164, 0.6);
    }
  }
}

/* Formação */

section.formation {
  color: white;
  padding: 5rem 3rem;

  h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
    background: linear-gradient(to right, white, #008BA4);
    background-clip: text;
    color: transparent;
  }

  .text-formation {
    padding: 0 2rem;
    border-left: 4px solid white;
  }

  .description-formation {
    padding: 2.5rem 0;
    line-height: 35px;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 1.1rem;
      opacity: 0.7;
      strong {
        color: #008BA4;
      }
    }
  }
}

/* Portfólio */

section.projects {
  background-color: #F5F5F5;
  border-radius: 50px 50px 0 0;
  color: grey;
  padding: 10rem 3rem;

  h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
    background: linear-gradient(to left, black, #008BA4);
    background-clip: text;
    color: transparent;
  }

  .projects-card {
    display: flex;
    align-items: center;
    justify-content:center;


    background-color: rgba(128, 128, 128, 0.3);

    

    margin: 2rem;
    padding: 2rem;
    border-radius: 50px;

    img {
      width: 50rem;
      height: 15rem
    }

    h3 {
      font-size: 2rem;
      padding: 2rem   
    }
  }

  .links-projects {

    a {
      text-decoration: none;
    }
    img {
      width: 4rem;
      height: 4rem;
    }
  }

}

/* Contato  */

section.contact {
  background-color: #F5F5F5;
  color: grey;

  border-radius: 0 0 50px 50px;
  padding: 5rem 3rem;

  h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
    background: linear-gradient(to left, black, #008BA4);
    background-clip: text;
    color: transparent;
  }

  .form-group {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
      width: 100%;
      padding: 1.2rem;
      border: 1px solid #ccc;
      border-radius: 10px;
  }

  textarea {
    resize: vertical;
  }

  button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 139, 164, 1);
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
  }

  button:hover {
      background-color: rgba(0, 139, 164, 0.8);
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 3rem 1rem;

  color: White;

  p {
      font-size: 0.9rem;
  }

  .menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: #008BA4;
      padding: 0.5rem;

      font-size: 0.9rem;
    }

    a:hover {
      background-color: rgba(0, 139, 164, 0.3);
      border-radius: 10px;
      color: white;
    }
  }
}




